/* COMMON */
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
}
body {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%), url("../images/anonymous-server-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;

}

/* HEADER */
.page__header {}
.nav-trigger {
  color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 45px;
  width: 45px;
  background-color: rgba(0,0,0,.7);
  background-image: url("../images/ico-menu.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease-in-out .3s, border-radius ease-in-out .3s;

}
.nav-trigger:hover {
  background-color: rgba(0,0,0,1);
  border-radius: 50%;
}

.nav-trigger:focus {
  outline: none;
}



/* MENU */
.nav {
  background-color: #402929;
  opacity: 0.92;
  height: 100vh;
  width: 100%;
  position: fixed;
  transform: translate3d(100%,0,0);
  transition: transform ease-in-out 1s;
}
.nav-visible {
  transform: translate3d(0,0,0);
  right: 0;
}

.nav__items {
  margin: 0;
  height: 100vh;
  padding: 30px;
  list-style: none;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav__item {
}

.nav__link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  line-height: 50px;
  opacity: .8;
  letter-spacing: .5px;
  transition: opacity ease-in-out .4s;
}
.nav__link:hover {
  opacity: .4;
}

@media all and (min-width: 768px) {
  .nav__link {
    font-size: 2.5em;
    line-height: 60px;
  }
}

@media all and (min-width: 1440px) {
  .nav__link {
    font-size: 3em;
    line-height: 70px;
  }
}

.nav-close {
  color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 45px;
  width: 45px;
  background-color: rgba(0,0,0,.7);
  background-image: url("../images/ico-close.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease-in-out .3s, border-radius ease-in-out .3s;
}

.nav-close:hover {
  background-color: rgba(0,0,0,1);
  border-radius: 50%;
}

.nav-close:focus {
  outline: none;
}



/* MAIN */
.page__main {
  height: 0;
  width: 100vw;
  max-width: 990px;
}
.page__wrapper {
  margin-right: 30px;
  margin-left: 30px;
}
@media all and (min-width: 768px) {
  .page__wrapper {
    margin-right: 60px;
    margin-left: 60px;
  }
}

.page__main-title {
  margin-top: 20px;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  width: 50%;

}

@media all and (min-width: 768px) {
  .page__main-title {
    font-size: 4em;
  }
}

@media all and (min-width: 1440px) {
  .page__main-title {
    font-size: 5em;
  }
}



/* FOOTER */
.page__footer {
  margin-bottom: 5px;
}
.page__footer {}
.page__footer-copy {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.4);
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 10px;
}
